{% extends 'base.html.twig' %}

{% block title %}Hello UploaderController!
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/clipboardImageStyle.css') }}" >
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container pt-4">
		<div class="example-wrapper p-4">
			<form action="" class="form">
				<div class="row">
					<div class="col-3 text-center pt-4" style="background-color: rgb(102, 212, 81)">
						Screen shot
					</div>
					<div class="col-9">
						<div id="pasteArea" class="form-control" value="" contenteditable="true" name="Screenshot" style="width: 100%; height: 200px; border: 1px solid #ccc;"></div>
					</div>
					<input id="filename" type="hidden" value="screenShot">
					<input id="elementDir" type="hidden" value="elementdir/">
					<input id="elementNumber" type="hidden" value="{{ random(50, 100) }}">
					<input id="formId" type="hidden" name="formId" value="Form_{{ date().timestamp }}">
					<input id="uploaderPath" type="hidden" name="uploaderPath" value="{{ path('uploader') }}">
				</div>
			</form>
		</div>
	</div>

	{% block javascripts %}
    {{ parent() }}
		<script type="text/javascript" src="{{ asset('assets/js/screenshot.js?v=' ~ date().timestamp) }}"></script>
	{% endblock %}
{% endblock %}
