{% extends 'base.html.twig' %}

{% block title %}Hello UploaderController!
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/clipboardImageStyle.css') }}" >
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container pt-4">
		<div class="example-wrapper p-4">
			<form action="" class="form">
				<div class="row">
					<div class="col-12">
						<h2 class="mb-4">Paste the image on your clipboard to the field below</h2>
					</div>
					<div class="col-3 text-center pt-4 rounded-3" width="100%" style="background-color: rgb(102, 212, 81); height: 200px;">
						Screen shot
					</div>
					<div class="col-9">
						<div id="pasteArea" class="form-control rounded-3" value="" contenteditable="true" name="Screenshot" style="width: 100%; height: 200px; border: 1px solid #ccc;"></div>
					</div>
					<div class="col-12">
						<p><a href="{{ list_of_uploaded_image }}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Go to list of images</a></p>
					</div>
					<div class="col-12">
						<p><a href="{{ landing_page }}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Back to landing page</a></p>
					</div>
					<input id="filename" type="hidden" value="screenShot">
					<input id="elementDir" type="hidden" value="elementdir/">
					<input id="elementNumber" type="hidden" value="{{ random(50, 100) }}">
					<input id="formId" type="hidden" name="formId" value="Form_{{ date().timestamp }}">
					<input id="uploaderPath" type="hidden" name="uploaderPath" value="{{ path('uploader') }}">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('upload_image') }}">
				</div>
			</form>
		</div>
	</div>

	{% block javascripts %}
    {{ parent() }}
		<script type="text/javascript" src="{{ asset('assets/js/screenshot.js?v=' ~ date().timestamp) }}"></script>
	{% endblock %}
{% endblock %}
